/** Estilos dentro del portal **/
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
	color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
	color: white; /*BACKGROUND color for active*/
	background-color: #2F85CE;
}

.navbar-blue {
	background-color: #337ab7;
	border-color: #337ab7;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #262626;
	text-decoration: none;
	background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: silver; /*Change rollover cell color here*/
}

.navbar-blue .navbar-nav > li > a {
	color: white; /*Change active text color here*/
}

.navbar-blue .navbar-brand {
	color: #fff;
}